@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.homePage {
  width: 100vw;
  height: 100vh;
}

.homePage::before {
  content: "";
  position: absolute;
  background: url(assets/img/banner.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.navbar-custom-cont {
  padding: 0 0 12px 0;
  margin: 0 15rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(149, 148, 148, 0.308);
}

.navbar-brand img {
  width: 150px;
}

.navbar-nav a {
  color: #e3e1e1d0 !important;
  font-size: 0.7rem;
  font-weight: bold;
}

.hero-cont {
  text-align: center;
  padding: 0 17%;
  /* margin-top: 8rem; */
}

.hero-title {
  font-size: 3.3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #fffffff2;
  font-weight: bold;
  word-spacing: -1px;
}

.hero-details {
  color: #fff5ffde;
}

.hero-btn {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 0.6rem;
  border-radius: 0.1rem;
  padding: 10px 40px;
  font-weight: bold;
}

.box img {
  height: 50px;
}



/* ===== Work section Start====== */
.work {
  height: 42vh;
}

.hover-overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(232, 69, 69, 0.9);
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
}

.overlay-caption {
  color: #fff;
}

.work:hover .hover-overlay {
  opacity: 1;
}

.no-gutter {
  padding-left: 0 0 !important;
}

/* ===== Work End====== */
.card {
  border: none;
}

.card-title {
  font-weight: 400;
  font-size: 1.25rem !important;
}

.card-body span {
  font-size: 0.7rem !important;
}

.card-text {
  font-size: 0.8rem !important;
  font-weight: 500;
}

.person img {
  width: 100% !important;
  height: 100% !important;
}

/* =========================================? */
.carousel {
  background-color: rgb(133, 34, 114);
  height: 100%;
  width: 100%;
}

.carousel-cont {
  color: #ffffffd7;
  padding: 65px 0 0 65px;
  width: 80%;
}

.carousel-cont quote {
  font-style: italic;
  line-height: 2.75rem;
  font-size: 2.35rem !important;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 40px;
}

/* ================================== */
.testimonial-cont h6 {
  font-size: 0.65rem;
}

.ft-cont h5 {
  color: #fff;
  font-size: 1.2rem;
}

.ft-cont address,
.ft-cont p {
  font-size: 0.75rem;
}

.footer .hero-cont {
  background-color: #3a3e63;
}

.copy-right {
  background-color: #313455;
}

.copy-right p {
  color: #ffffffd4;
  font-size: 0.8rem;
}




@media only screen and (max-width: 1400px) {

  .homePage,
  .homePage::before {
    height: 100vh !important;
  }
}

@media only screen and (max-width: 1200px) {

  .homePage,
  .homePage::before {
    height: 95vh !important;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .box img {
    height: 40px !important;
  }

  .box p {
    font-size: 0.8rem;
  }

  .carousel-cont quote {
    font-style: italic;
    line-height: normal;
    font-size: 1.7rem !important;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 992px) {

  .homePage,
  .homePage::before {
    height: 80vh !important;
  }
}